# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

# NOTE: must set "Crossbow" as name to have the badge links working in the
# github comment reports!
name: Crossbow

on:
  push:
    branches:
      - "*-github-*"

jobs:
  package:
    name: Package Gandiva
    runs-on: macos-latest
    steps:
      - name: Checkout Arrow
        run: |
          git clone --no-checkout https://github.com/projjal/arrow arrow
          git -C arrow fetch -t https://github.com/projjal/arrow githubactions
          if [ $CROSSBOW_USE_COMMIT_ID = true ]; then git -C arrow checkout ff734c83b05cffa5686e4085294c02c9a2b28b19; else git -C arrow checkout FETCH_HEAD; fi
          git -C arrow submodule update --init --recursive
      - name: Build Gandiva
        run: |
          cd arrow
          mkdir -p dist
          export ARROW_TEST_DATA=$GITHUB_WORKSPACE/arrow/testing/data
          dev/tasks/gandiva-jars/build-cpp-osx.sh || exit 1
          dev/tasks/gandiva-jars/build-java.sh || exit 1
        env:
          OS_NAME: "osx"
          CHECK_SHARED_DEPENDENCIES: true
      - name: Set up Crossbow
        run: |
          brew install libgit2
          pip3 install \
            click \
            github3.py \
            jinja2 \
            jira \
            pygit2 \
            ruamel.yaml \
            setuptools_scm \
            toolz
      - name: Upload artifacts
        run: |
          python3 $GITHUB_WORKSPACE/arrow/dev/tasks/crossbow.py \
            --queue-path $GITHUB_WORKSPACE/arrow \
            --queue-remote https://github.com/projjal/arrow-build \
            upload-artifacts \
            --sha nightly-626-github-gandiva-jar-osx \
            --tag nightly-626-github-gandiva-jar-osx \
            --pattern "arrow/dist/*.jar"
        env:
          CROSSBOW_GITHUB_TOKEN: ${{ secrets.CROSSBOW_GITHUB_TOKEN }}